.pstk-filters,
.pstk-table,
.pstk-card {
    margin: 1rem auto;
 }

 .pstk-table {
    width: 95%;  
 }

 .pstk-expanded {
   width: 100%;
 }

.pstk-card {
    width: 80%;
}

 .pstk-filters {
    width: 80%;
     display: block;
 }


 table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: #eee;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
 
  .example-second-header-row {
      width: 100%;
  }

  mat-spinner {
    margin: auto;
  }