<mat-card class="pstk-card">
  <mat-card-header>
      <mat-card-title>Stwórz Użytkownika</mat-card-title>
      <mat-card-subtitle>Formularz tworzenia członka stowarzyszenia</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

        <form class="pstk-form">
            <mat-form-field class="pstk-u-w80">
              <input matInput placeholder="Company (disabled)" disabled value="Google">
            </mat-form-field>
          
            <table class="pstk-u-w80" cellspacing="0"><tr>
              <td><mat-form-field class="pstk-u-w80">
                <input matInput placeholder="First name">
              </mat-form-field></td>
              <td><mat-form-field class="pstk-u-w80">
                <input matInput placeholder="Long Last Name That Will Be Truncated">
              </mat-form-field></td>
            </tr></table>
          
            <p>
              <mat-form-field class="pstk-u-w80">
                <textarea matInput placeholder="Address">1600 Amphitheatre Pkwy</textarea>
              </mat-form-field>
              <mat-form-field class="pstk-u-w80">
                <textarea matInput placeholder="Address 2"></textarea>
              </mat-form-field>
            </p>
          
            <table class="pstk-u-w80" cellspacing="0"><tr>
              <td><mat-form-field class="pstk-u-w80">
                <input matInput placeholder="City">
              </mat-form-field></td>
              <td><mat-form-field class="pstk-u-w80">
                <input matInput placeholder="State">
              </mat-form-field></td>
              <td><mat-form-field class="pstk-u-w80">
                <input matInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
                <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
              </mat-form-field></td>
            </tr></table>
          </form>
</mat-card-content>

</mat-card>
