<mat-card class="pstk-card">
  <mat-card-header>
      <mat-card-title>Stwórz Użytkownika</mat-card-title>
      <mat-card-subtitle>Formularz tworzenia członka stowarzyszenia</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

        <form class="pstk-form" (submit)="onAddUser(userForm)" #userForm="ngForm">
            <mat-form-field class="pstk-u-w80">
              <input matInput placeholder="Company (disabled)" disabled value="Google">
            </mat-form-field>
          
            <table class="pstk-u-w80" cellspacing="0"><tr>
              <td><mat-form-field class="pstk-u-w80">
                <input 
                  matInput 
                  placeholder="{{fieldNamesTranslations.firstName}}"
                  name="firstName"
                  ngModel
                >
              </mat-form-field></td>
              <td><mat-form-field class="pstk-u-w80">
                <input 
                  matInput 
                  placeholder="{{fieldNamesTranslations.lastName}}"
                  name="lastName"
                  ngModel
                >
              </mat-form-field></td>
            </tr></table>
          
            <p>
              <mat-form-field class="pstk-u-w80">
                <textarea 
                  matInput 
                  placeholder="{{fieldNamesTranslations.address}}"
                  name="street"
                  ngModel
                >
                </textarea>
              </mat-form-field>
            </p>
          
            <table class="pstk-u-w80" cellspacing="0"><tr>
              <td><mat-form-field class="pstk-u-w80">
                <input 
                  matInput 
                  placeholder="{{fieldNamesTranslations.city}}"
                  name="city"
                  ngModel
                >
              </mat-form-field></td>
              <td><mat-form-field class="pstk-u-w80">
                <input 
                  matInput 
                  placeholder="{{fieldNamesTranslations.state}}"
                  name="state"
                  ngModel
                >
              </mat-form-field></td>
              <td><mat-form-field class="pstk-u-w80">
                <input 
                  matInput 
                  #postalCode 
                  maxlength="5"
                  placeholder="{{fieldNamesTranslations.postal}}"
                  name="postal"
                  ngModel
                >
                <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
              </mat-form-field></td>
            </tr></table>
            <button
              mat-raised-button
              color="accent"
              type="submit">Zapisz Użytkownika</button>
          </form>
</mat-card-content>

</mat-card>
